{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciser Produtos</title>
    <link rel="stylesheet" href="{% static 'produtos/styles.css' %}">

    <link rel="shortcut icon" href="{% static 'produtos/logo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'produtos/logo.png' %}" type="image/x-icon">

</head>
<body>
    <div class="logo-container">
        <img src="{% static 'produtos/logo.png' %}" alt="Logo" class="logo">
        
    </div>

    <div class="search-container">
        <form action="{% url 'pesquisa_produto' %}" method="get" class="form-flex">
            <input type="text" name="q" value="{{ query }}" placeholder="Digite o código ou descrição">
            <button type="submit" class="button-common">Pesquisar</button>
            <button type="button" class="button-common clear-button" onclick="limparBusca()">Limpar</button>
        </form>
        <div class="data-tabela">Data tabela Junho/23</div>
    </div>
   
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Código do Produto</th>
                    <th>Descrição</th>
                    <th>Preço Líquido</th>
                    <th>Venda</th>
                    <th>Revenda</th>
                    <th>Atacado</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr data-codigo="{{ produto.codigo_do_produto }}" data-descricao="{{ produto.descricao }}" data-venda="{{ produto.venda }}" data-revenda="{{ produto.revenda }}" data-atacado="{{ produto.atacado }}" onclick="abrirModal(this)">
                        <td>{{ produto.codigo_do_produto }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>R$ {{ produto.preco_liquido }}</td>
                        <td>R$ {{ produto.venda }}</td>
                        <td>R$ {{ produto.revenda }}</td>
                        <td>R$ {{ produto.atacado }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">Nenhum produto encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal de Detalhes do Produto -->
    <div id="produtoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModal('produtoModal')">&times;</span>
            <h2>Detalhes do Produto</h2>
            <p id="modalCodigoDoProduto"></p>
            <p id="modalDescricao"></p>
            <p id="modalVenda"></p>
            <p id="modalRevenda"></p>
            <p id="modalAtacado"></p>
            <div class="modal-logo">
                <img src="{% static 'produtos/logo.png' %}" alt="Logo" class="logo">
            </div>
        </div>
    </div>

    <!-- Modal de Edição do Produto -->
    <div id="editarProdutoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModal('editarProdutoModal')">&times;</span>
            <h2>Editar Produto</h2>
            <form id="formEditarProduto" action="{% url 'produto_update' %}" method="post">

                {% csrf_token %}
                <input type="hidden" id="editProdutoId" name="produto_id">
                <div class="form-group">
                    <label for="editCodigo">Código:</label>
                    <input type="text" id="editCodigo" name="codigo">
                </div>
                <div class="form-group">
                    <label for="editDescricao">Descrição:</label>
                    <input type="text" id="editDescricao" name="descricao">
                </div>
                <div class="form-group">
                    <label for="editVenda">Venda:</label>
                    <input type="text" id="editVenda" name="venda">
                </div>
                <div class="form-group">
                    <label for="editRevenda">Revenda:</label>
                    <input type="text" id="editRevenda" name="revenda">
                </div>
                <div class="form-group">
                    <label for="editAtacado">Atacado:</label>
                    <input type="text" id="editAtacado" name="atacado">
                </div>
                <button type="submit" class="button-common">Salvar Alterações</button>
            </form>
        </div>
    </div>

    <script>
        let produtoAtual; // Armazena os dados do produto atual

        function abrirModal(row) {
            produtoAtual = {
                codigo: row.dataset.codigo,
                descricao: row.dataset.descricao,
                venda: row.dataset.venda,
                revenda: row.dataset.revenda,
                atacado: row.dataset.atacado
            };

            document.getElementById('modalCodigoDoProduto').textContent = 'Código: ' + produtoAtual.codigo;
            document.getElementById('modalDescricao').textContent = 'Descrição: ' + produtoAtual.descricao;
            document.getElementById('modalVenda').textContent = 'Venda: R$ ' + produtoAtual.venda;
            document.getElementById('modalRevenda').textContent = 'Revenda: R$ ' + produtoAtual.revenda;
            document.getElementById('modalAtacado').textContent = 'Atacado: R$ ' + produtoAtual.atacado;

            document.getElementById('produtoModal').style.display = 'block';
            document.getElementById('botaoEditar').onclick = function() { abrirModalEdicao(); };
        }

        function abrirModalEdicao() {
            document.getElementById('editCodigo').value = produtoAtual.codigo;
            document.getElementById('editDescricao').value = produtoAtual.descricao;
            document.getElementById('editVenda').value = produtoAtual.venda;
            document.getElementById('editRevenda').value = produtoAtual.revenda;
            document.getElementById('editAtacado').value = produtoAtual.atacado;

            document.getElementById('editarProdutoModal').style.display = 'block';
        }

        function fecharModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        function limparBusca() {
            console.log('Limpar busca foi chamado'); // Para testar se a função está sendo chamada
            document.querySelector('input[name="q"]').value = '';
           
        }
        

        window.onclick = function(event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = 'none';
            }
        };
    </script>
</body>
</html>
