body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}


/* Estilização comum para botões */
.button-common {
    font-family: 'Arial', sans-serif; /* Define a fonte para Arial */
    font-size: 16px; /* Tamanho da fonte */
    color: #505050; /* Cor do texto */
    background-color: #007bff; /* Cor de fundo */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Preenchimento ao redor do texto */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: background-color 0.3s; /* Transição suave para o background-color */
}

/* Estilização ao passar o mouse sobre o botão */
.button-common:hover {
    background-color: #5ba7f8; /* Cor de fundo um pouco mais escura */
    color: #ffffff; /* Cor do texto */
}

/* Adicione a classe button-common aos botões no seu HTML */

.search-container {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.table-container {
    margin: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background: #ffcc00;
    color: #fff;
    padding: 10px;
    font-size: 15px; /* Tamanho da fonte ajustado para o cabeçalho */
}

td {
    text-align: left;
    padding: 10px;
    font-size: 14px; /* Tamanho da fonte ajustado para o cabeçalho */
}

tr:nth-child(even) {
    background-color: #e4e4e4;
}

table tr:hover {
    background-color: #77a2ff; /* Cor de fundo ao passar o mouse */
    cursor:pointer; 
}

table tr:focus-within {
    background-color: #77a2ff; /* Cor de fundo ao receber foco */
}


/* Estilos para o modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo no lugar */
    z-index: 1; /* Fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Largura do modal - ajuste conforme necessário */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.6s;
}



/* Botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: -20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilizando o título dentro do modal */
#produtoModal h2 {
    background-color: #6c757d;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}
/* Estilos para o modal */
#produtoModal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

#produtoModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #ccc;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 8px;
}

#produtoModal h2 {
    background-color: #4e5d6c;
    color: #ffffff;
    padding: 20px;
    margin: -40px -40px 20px -40px;
    border-radius: 8px 8px 0 0;
}

#produtoModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

#produtoModal .close:hover,
#produtoModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalCodigoDoProduto {
    color: #28527a;
    font-weight: bold;
    margin-bottom: 12px;
}

#modalDescricao {
    font-weight: bold;
    color: #353535;
    margin-bottom: 12px;
}


#modalRevenda,
#modalAtacado {
    font-family: 'Roboto', serif; /* Mudar a fonte para algo mais clássico */
    font-size: 1.1rem;
    color: #28527a;
    font-weight: bold;
    background-color: #ffd5d9; /* Adicionar um fundo suave */
    padding: 5px; /* Adicionar um pouco de preenchimento */
    display: inline-block; /* Fazer o fundo contornar apenas o texto */
    margin: 10px 10px; /* Adicionar uma margem acima e abaixo */
    border-radius: 5px; /* Adicionar bordas arredondadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adicionar uma sombra suave */
}

#modalVenda {
    font-family: 'Roboto', serif; /* Mudar a fonte para algo mais clássico */
    font-size: 1.1rem; /* Aumentar o tamanho da fonte */
    color: #c82333; /* Mudar a cor para vermelho escuro */
    font-weight: bold; /* Tornar o texto em negrito */
    background-color: #ffd5d9; /* Adicionar um fundo suave */
    padding: 5px; /* Adicionar um pouco de preenchimento */
    display: inline-block; /* Fazer o fundo contornar apenas o texto */
    margin: 20px 10px; /* Adicionar uma margem acima e abaixo */
    border-radius: 5px; /* Adicionar bordas arredondadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adicionar uma sombra suave */

}
/* Animação do modal aparecendo do topo */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/*logo modal*/
.logo-container {
    position: absolute;
    top: 10px;
    left: 30px;
}

.logo {
    height: 50px; /* Ajuste conforme necessário */
}
.modal-logo {
    display: block; /* Ocupa toda a largura disponível */
    max-width: 100px; /* Ajuste para o tamanho desejado */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 10px 0; /* Adiciona um pouco de espaço acima e abaixo */
}

.modal-logo img {
    height: 50px;
    display: block;
    margin: 0 auto; /* Centraliza a imagem dentro do .modal-logo */
    max-width: 100%; /* Garante que a imagem não exceda a largura de .modal-logo */
}

/* Adicionando estilos específicos para a classe form-control */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* ... adicionais estilos para o botão 'Alterar' se necessário ... */
/* ... estilos existentes ... */

/* Estilos para o modal de edição */
#editarProdutoModal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo no lugar */
    z-index: 20; /* Valor maior para modal de edição */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgba(0,0,0,0.6); /* Cor de fundo com opacidade */
}

#editarProdutoModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 40px;
    border: 1px solid #888;
    width: 30%; /* Largura do modal - ajuste conforme necessário */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 8px;
}

#editarProdutoModal h2 {
    background-color: #4e5d6c;
    color: #ffffff;
    padding: 20px;
    margin: -40px -40px 20px -40px;
    border-radius: 8px 8px 0 0;
}

#editarProdutoModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

#editarProdutoModal .close:hover,
#editarProdutoModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para os campos do formulário dentro do modal de edição */
#editarProdutoModal .form-group {
    margin-bottom: 1rem;
}

#editarProdutoModal .form-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#editarProdutoModal .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#editarProdutoModal .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#editarProdutoModal button[type="submit"] {
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
}

/* Estilos para o botão 'Alterar' dentro do modal de detalhes */
#produtoModal .button-alterar {
    background-color: #28a745; /* Cor verde para o botão */
    color: white; /* Texto branco */
    padding: 10px 20px;
    margin-top: 20px; /* Espaço acima do botão */
    border-radius: 5px; /* Bordas arredondadas */
}

#produtoModal .button-alterar:hover {
    background-color: #218838; /* Cor verde um pouco mais escura ao passar o mouse */
}
